@use "sass:color";

.text-link {
  margin-top: 1rem;
  font-weight: 400;
  display: inline-block;
  text-align: center;
  width: 100%;

  &.left {
    text-align: left;
  }

  &.center {
    text-align: center;
  }

  &.right {
    text-align: right;
  }

  .label {
    margin-right: 4px;
    color: #555;
  }

  .link {
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
    color: #800a58;
    transition: color 0.2s ease;

    &:hover {
      color: color.adjust(#800a58, $lightness: -10%);
    }
  }
}