.input-todo-form {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
  background-color: #d8c7cc;

  custom-input {
    flex: 1;
  }

  app-button {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
  }
}