:host {
  display: block;
  margin: 0;
}

.app-subtitle {
  font-size: 1.05rem;
  margin: 0;   /* remove espaço extra */
  margin-top: 4px; /* pequeno espaçamento apenas se quiser */
  opacity: 0.85;
}