.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eeeaea;
  padding: 0.3rem 1rem;
  border-radius: 6px;
  margin-bottom: 0.4rem;
}

.item-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.item-checkbox-title {
  display: flex;
  gap: 0.5rem;
  width: 80%;
  align-items: center;
}

.todo-checkbox {
  height: 18px;
  width: 18px;
}