.login-container {
  max-width: 400px;
  margin: 4rem auto;
  padding: 2rem;
  border-radius: 12px;
  background: #fff;
}

.form-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 0.2rem;
  gap: 2px;
}

.login-form {
  margin-top: 10%;
}
