/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: 'Poppins';
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #222222;
}

 span {
    color: #0E0104;
 }

app-root {
  display: block;
  height: 100%;
  width: 100%;
}