.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  height: 90%;
  width: 90%;
}

.todo-header {
  text-align: center;
  margin-bottom: 0.2rem;

  app-title {
    margin-bottom: 0.25rem;
  }
}

.todo-form {
  width: 100%;
  display: flex;
  justify-content: center;

  app-input-todo {
    width: 100%;
    max-width: 600px;
  }
}

.todo-footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.9rem;
  color: #3e2e32;

  app-button {
    width: 160px;
    font-size: 0.85rem;
  }
}